Tema 1  Introducción a los lenguajes de marcas. XML/XML/Ejercicio evaluable xsd y dtd/ejercicio1.dtd

<!ELEMENT relacion (persona)*>
<!ELEMENT persona (nombre | email | parentesco)*>
    <!ATTLIST persona carnet ID #REQUIRED>
    <!ATTLIST persona sexo CDATA #IMPLIED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT parentesco (#PCDATA)>
    <!ATTLIST parentesco tipo CDATA #REQUIRED>